body {
  display: flex;
  background-color: #141414;
  height: 100dvh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.attribution {
  position: absolute;
  bottom: 0;
  color: white;
}
